---
---

@import "{{ site.theme }}";

#header_wrap {
    background-image: url("https://ac-roofing.uk/images/cropped-Screenshot_20190120-193917_Facebook.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

nav, nav>ul, nav>ul>li {
    display: inline-block;
}
